
@keyframes juja2{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes juja{
    0%{
        opacity: 0;
        transform: translateX(-180px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes upArrow{
    0%{
        opacity: 0;
        transform: translateX(-80px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes downArrow{
    0%{
        opacity: 0;
        transform: translateX(80px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes logo{
    0%{
        opacity: 0;
        color: var(--verde-super-claro);
    }
    50%{
        opacity: 1;
        color: var(--verde);
    }
    100%{
        opacity: 1;
        color: var(--verde-super-escuro);
    }
}

@keyframes subtitulo{
    0%{
    color: var(--verde); 
    font-size: 1em;
    } 
    100%{
        color: black;
        font-size: 5em;
    }
}

 @keyframes millor{
        0%{
            opacity: 1;
            transform: translateY(-480px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }