@media(max-width:426px) {

    /* logo */
    html {
        font-size: 40%;
    }

    .logo {
        text-align: center;
        margin-top: 5rem;
        position: relative;
    }

    .logo h1 {
        margin-bottom: 1.2rem;
    }

   
/* institucional */


.institucional{
    animation: none;
}

.juja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.institucional .juja .texto p{ 
    font-size: 3rem;
    text-align: justify;
    margin: 2rem;
}


.institucional .millor span{
        font-family: 'Lobster', cursive; 
    text-align: right;
    color: black;
    font-size: 3rem;
    text-shadow: 3px 3px rgb(241, 226, 7);
}

.juja{
     margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.juja img{
    margin: 0;
    padding: 0;
    animation: juja2 2.5s ease-in-out;
    animation-delay: 0;
}
    /* cardapio */

    .cardapio{
        background-color: rgb(89, 190, 221);
        margin: 5rem;
        position: relative;
    }
    
    .cardapio h2, .cardapio h3{    
        font-size: 3rem;
    }
    
    .cardapio h3{
        width: 80%;
    }

    .cardapio .ingredientes>h3{
        font-size: 2rem;
    }
   
    .cardapio .pratos .ingredientes .prato ul {
        color: white;
        background-color: rgb(21, 129, 161);
        width: fit-content;
        padding: 2.5rem;
        margin: 1.5rem;
        width: 95%;
        position: relative;
    }
    
    .cardapio .pratos .ingredientes .prato li span{
        font-size: 1.3rem;
    }
    
    .cardapio .pratos .ingredientes .prato bold{
        font-size: 1.5rem;
        background-color: rgb(3, 73, 73);
        border-radius: 10px;
        padding: .5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    
    .cardapio .pratos .ingredientes .prato li p{
        background-color:  rgb(16, 92, 116);
        border-radius: 15px;
        width: 70%;
        font-size: 1.5rem;
        padding: 1rem;
        margin: 1rem;
        border: 1px solid aqua;
    }
    
    .cardapio .pratos input:checked ~ label .ingredientes {
        display: block;
    }
    
    #Lua{
        font-size: 1.5rem;
        background-color: rgb(44, 136, 241);
        border-radius: 10px;
        padding: .5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    
    #selo{
        background-size: 40%;
    }
    
    #selo-prato{
        padding: 1rem;
        max-width: 40px;
    }
    
    #duo{
        max-width: 18rem;
        top: 30px;
        right: 0;
        margin: 1rem;
    }
    
    #lagosta{
        max-width: 15rem;
      }
    
    #delicias-do-mar{
        max-width: 26rem;
    }
    
/* restaurante */

.fotos{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid white;
    margin: auto;
    max-width: 285px;
    justify-content: center;
    align-items: center;
    height: 280px;

}

.quadro{
    width: 130px;
    padding: .5rem;
}

.peixe{
    height: 510px;
    width: 510px;
    position: absolute;
    z-index: 1;
    top:  11vh;
    left: 10vw;
    flex: 1;
    max-width: 40%;
    margin-left: 5rem;
    filter: drop-shadow(0px 5px 3px black);
}

}

@media(max-width:378px) {
    html {
        font-size: 35%;
    }
}

@media(max-width:321px) {
    html {
        font-size: 25%;
    }
}